.playfied-row:after {
  justify: center;
  clear: both;
  content: "";
  display: table;
  min-width: 675px
}
.cell-def {
  background: #ccc;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
